<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrintNCIService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrintNCIService.Properties.Settings>
            <setting name="PollingFrequencyInMillis" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="TracerView" serializeAs="String">
                <value>tracer</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Provider=SQLOLEDB.1;Initial Catalog=RSKUPANG;Data Source=localhost;Locale Identifier=1033;Connect Timeout=15;Use Procedure for Prepare=1;Auto Translate=True;Packet Size=4096;</value>
            </setting>
            <setting name="ServerHostName" serializeAs="String">
                <value>SERVER</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>RSKUPANG</value>
            </setting>
            <setting name="CetakStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CetakTracer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusPrinter" serializeAs="String">
                <value>HP LaserJet P1006</value>
            </setting>
            <setting name="TracerPrinter" serializeAs="String">
                <value>EPSON LX-300+II ESC/P</value>
            </setting>
        </PrintNCIService.Properties.Settings>
    </userSettings>
</configuration>