<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Printer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Printer.Properties.Settings.RSKUPANGConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RSKUPANG;Persist Security Info=True;User ID=jamkesmas;Password=jamkesmas"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Printer.Properties.Settings>
            <setting name="LogFileName" serializeAs="String">
                <value>PrintNCI.log</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgramFolder" serializeAs="String">
                <value>PrintNCI</value>
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value>jamkesmas</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>jamkesmas</value>
            </setting>
            <setting name="UpdateTracer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InQueueTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OutQueueTimeout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ReadBillTmpFileName" serializeAs="String">
                <value>NCIPrintBill2.tmp</value>
            </setting>
            <setting name="Kasir" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pendaftaran" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TracerPrinter" serializeAs="String">
                <value>Bullzip PDF Printer</value>
            </setting>
            <setting name="StatusPrinter" serializeAs="String">
                <value>Bullzip PDF Printer</value>
            </setting>
            <setting name="PrintLangsung" serializeAs="String">
                <value>False</value>
            </setting>
        </Printer.Properties.Settings>
    </userSettings>
</configuration>