<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Printer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PrintNCI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PrintNCI.Properties.Settings.RSKUPANGConnectionString"
            connectionString="Data Source=SERVER;Initial Catalog=RSKUPANG;Persist Security Info=True;User ID=jamkesmas;Password=jamkesmas"
            providerName="System.Data.SqlClient" />
        <add name="Printer.Properties.Settings.RSKUPANGConnectionString"
            connectionString="Data Source=SERVER;Initial Catalog=RSKUPANG;Persist Security Info=True;User ID=jamkesmas;Password=jamkesmas"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Printer.Properties.Settings>
            <setting name="ExecutablePrintAskes" serializeAs="String">
                <value>Print_Jaminan_Askes_IGD_FromBill.exe</value>
            </setting>
            <setting name="ExecutablePrintJamkesmasRWJ" serializeAs="String">
                <value>Print_Jaminan_Jamkesmas_IGD_FromBill.exe</value>
            </setting>
            <setting name="UntukUGD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExecutablePrintJamkesmasRWI" serializeAs="String">
                <value>Print_Jaminan_Jamkesmas_RWI.exe</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>PrintNCI.log</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RITempFileName" serializeAs="String">
                <value>NCICetakStatusRI.tmp</value>
            </setting>
            <setting name="ExecutablePrintJamkesdaRWJ" serializeAs="String">
                <value>Print_Jaminan_Jamkesda_IGD_FromBill.exe</value>
            </setting>
            <setting name="RJTempFileName" serializeAs="String">
                <value>NCICetakStatus.tmp</value>
            </setting>
            <setting name="ExecutablePrintStatus" serializeAs="String">
                <value>Print_Status_Pasien.exe</value>
            </setting>
            <setting name="ExecutablePrintInHealth" serializeAs="String">
                <value>Print_Jaminan_In_Health_IGD_FromBill.exe</value>
            </setting>
            <setting name="Kelompok" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ASKES</string>
                        <string>JAMKESMAS</string>
                        <string>IN HEALTH</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UpdateTracer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgramFolder" serializeAs="String">
                <value>PrintNCI</value>
            </setting>
            <setting name="ExecutablePrintKartuBerobat" serializeAs="String">
                <value>Print_Kartu_Berobat.exe</value>
            </setting>
            <setting name="ExecutablePrintTracer" serializeAs="String">
                <value>Print_Tracer.exe</value>
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>pocopoco</value>
            </setting>
            <setting name="StatusPrinter" serializeAs="String">
                <value>HP LaserJet P1006</value>
            </setting>
            <setting name="TracerPrinter" serializeAs="String">
                <value>HP LaserJet P1006</value>
            </setting>
            <setting name="InQueueTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OutQueueTimeout" serializeAs="String">
                <value>8</value>
            </setting>
        </Printer.Properties.Settings>
        <PrintNCI.Properties.Settings>
            <setting name="ExecutablePrintAskes" serializeAs="String">
                <value>Print_Jaminan_Askes_IGD_FromBill.exe</value>
            </setting>
            <setting name="ExecutablePrintJamkesmasRWJ" serializeAs="String">
                <value>Print_Jaminan_Jamkesmas_IGD_FromBill.exe</value>
            </setting>
            <setting name="UntukUGD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExecutablePrintJamkesmasRWI" serializeAs="String">
                <value>Print_Jaminan_Jamkesmas_RWI.exe</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>PrintNCI.log</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RITempFileName" serializeAs="String">
                <value>NCICetakStatusRI.tmp</value>
            </setting>
            <setting name="ExecutablePrintJamkesdaRWJ" serializeAs="String">
                <value>Print_Jaminan_Jamkesda_IGD_FromBill.exe</value>
            </setting>
            <setting name="RJTempFileName" serializeAs="String">
                <value>NCICetakStatus.tmp</value>
            </setting>
            <setting name="ExecutablePrintStatus" serializeAs="String">
                <value>Print_Status_Pasien.exe</value>
            </setting>
            <setting name="ExecutablePrintInHealth" serializeAs="String">
                <value>Print_Jaminan_In_Health_IGD_FromBill.exe</value>
            </setting>
            <setting name="Kelompok" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ASKES</string>
                        <string>JAMKESMAS</string>
                        <string>IN HEALTH</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UpdateTracer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgramFolder" serializeAs="String">
                <value>PrintNCI</value>
            </setting>
            <setting name="ExecutablePrintKartuBerobat" serializeAs="String">
                <value>Print_Kartu_Berobat.exe</value>
            </setting>
            <setting name="ExecutablePrintTracer" serializeAs="String">
                <value>Print_Tracer.exe</value>
            </setting>
        </PrintNCI.Properties.Settings>
    </userSettings>
</configuration>